<!DOCTYPE html>
<html>
<title>Index page</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body class="w3-content" style="max-width:1300px">

<!-- First Grid: Logo & About -->
<div class="w3-row">
  <div class="w3-half w3-black w3-container w3-center" style="height:700px">
    <div class="w3-padding-64">
      <h1>My Webapp</h1>
    </div>
    <div class="w3-padding-64">
      <a routerLink="/index" class="w3-button w3-black w3-block w3-hover-blue-grey w3-padding-16">Home</a>
      <a routerLink="/info" class="w3-button w3-black w3-block w3-hover-teal w3-padding-16">My Personal Info</a>
      <a routerLink="/skills" class="w3-button w3-black w3-block w3-hover-dark-grey w3-padding-16">My Skills</a>
      <a href="#contact" class="w3-button w3-black w3-block w3-hover-brown w3-padding-16">My School Records</a>
    </div>
  </div>
  <div class="w3-half w3-blue-grey w3-container" style="height:700px">
    <div class="w3-padding-64 w3-center">
      <h1>About Me</h1>
      <img src="{{data.image_url}}" class="w3-margin w3-circle" alt="Person" style="width:50%">
      <div class="w3-left-align w3-padding-large">
        <p>Welcome to my personal webapp. I'm David, and you can see my personal info, my skills and my school records in the links of the left. Enjoy :)</p>
      </div>
    </div>
  </div>
</div>

</body>
</html>
